.main-section
{
    width: 90%;
    margin: auto;
    margin-bottom: 140px;
    text-align: center;
    margin-top: 226px;
}
.main-section h2
{
    font-size: var(--font-size-48);
    font-weight: var(--font-weight-700);
    color: var(--dark-blue-clr);
    margin-bottom: 26px;
}
.main-section p
{
    font-size: var(--font-size-20);
    font-weight: var(--font-weight-400);
    color: var(--dark-blue-clr);
    margin-bottom: 26px;
    width: 40%;
    margin: auto;
}
.main-section button
{
    background-color: var(--pink-clr);
    width: 400px;
    height: 80px;
    color: var(--white-clr);
    font-weight: var(--font-weight-700);
    font-size: var(--font-size-20);
    box-shadow: 0 6px 13px 0 #00252e1a;
    border-radius: 50px;
    display: block;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 120px;
}
.main-section button:hover
{
    background-color: var(--light-pink-clr);
}
.main-section .diagram
{
    display: flex;
    width: 50%;
    margin: auto;
    gap: 120px;
    margin-top: 120px;
}
.main-section .diagram h1
{
    font-size: var(--font-size-96);
    font-weight: var(--font-weight-700);
    color: var(--dark-blue-clr);
    margin-bottom: 10px;
}
.main-section .diagram span
{
    color: var(--gray-clr);
    font-size: var(--font-size-24);
    text-align: center;
}
.main-section .diagram .diagram-box
{
    width: fit-content;
    margin: auto;
}
.main-section .diagram .diagram-box img
{
    float: left;
    margin-bottom: 10px;
    
}