.community
{
    width: 100%;
    text-align: center;
}
.community h2
{
    font-size: var(--font-size-40);
    font-weight: var(--font-weight-700);
    color: var(--dark-blue-clr);
    margin-bottom: 42px;
    margin-top: 140px;
}
.community button
{
    background-color: var(--pink-clr);
    width: 400px;
    height: 80px;
    color: var(--white-clr);
    font-weight: var(--font-weight-700);
    font-size: var(--font-size-20);
    box-shadow: 0 6px 13px 0 #00252e1a;
    border-radius: 50px;
    display: block;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 120px;
}
.community button:hover
{
    background-color: var(--light-pink-clr);
}