* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  border: none;
  outline: none;
  transition: 0.3s;
  font-family: "popins";
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
:root {
  /* COLOR */
  --pink-clr: #ff52c1;
  --light-pink-clr: #ff8ed7;
  --white-clr: #fff;
  --black-clr: #000;
  --dark-blue-clr: #00252e;
  --gray-clr: #808e9a;
  /* FONT WEIGHT */
  --font-weight-400: 400;
  --font-weight-700: 700;
  /* FONT SIZE */
  --font-size-16: 16px;
  --font-size-20: 20px;
  --font-size-24: 24px;
  --font-size-40: 40px;
  --font-size-48: 48px;
  --font-size-96: 96px;
}
@font-face {
  font-family: "popins";
  src: url(./assets/fonts/Poppins-Regular.ttf);
}
button,
a {
  cursor: pointer;
}
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--pink-clr);
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background-color: #fff;
}
::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active {
  background-color: var(--light-pink-clr);
}
.animate-text {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.animate-text.show {
  opacity: 1;
}
.animate-text-slide {
  transform: translateX(-100%);
  transition: transform 1s ease-in-out;
}
.animate-text-slide.show {
  transform: translateX(0);
}
